*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    color: #444;
}


ul{
    list-style: none;
}
a{
    color:#333;
    text-decoration: none;
}

/* navbar */
.main-nav{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}

.bg {
   background-image: url("/images/hero.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;

 
}

.header{
    background-image: url("./images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.btn-link{
    display: inline-block;
    background-color: #e67e22;
    color: #fff;
    padding: 0.9rem 2rem;
    font-size: 1.5em;
    border-radius: 6px;
   
}
.text h1 , .text p{
    color: #fff;
}
.text{

    max-width: 1100px;
    margin: 0 auto;  
}

.text h1{
    font-size: 3.5em;
    width: 490px;
    margin-top: 4rem;
}
.text p{
    font-size: 1.5em;
    width:540px;
    line-height: 1.6;
}

.text div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}