*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}
a{
    color:#333;
    text-decoration: none;
}
h1 , p{
    color: #fff;
}


.bg {
   background-image: url("/images/hero.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;

 
}

