*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    color: #444;
}


ul{
    list-style: none;
}
a{
    color:#333;
    text-decoration: none;
}

/* navbar */
.main-nav{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}



.header{
    background-image: url("./images/hero.jpg");
    background-size: cover;
    height: 100vh;
   
    position: relative;
   
}
.btn-link{
    display: inline-block;
    background-color: #e67e22;
    color: #fff;
    padding: 0.9rem 2rem;
    font-size: 1.5em;
    border-radius: 6px;
   
}
.text h1 , .text p{
    color: #fff;
}
.text{

    width: 1100px;
      position: absolute;
      left: 50%;
     top: 50%;
      transform: translate(-50% ,-50%);
      
}

.text h1{
    font-size: 3.5em;
   
    margin-top: 4rem;
}
.text p{
    font-size: 1.5em;
   
    line-height: 1.6;
    margin: 1em 0;
}
.header-inner{
    width: 50%;
}

.text div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* section */
.text-primary{
    
    max-width: 1100px;
    margin: 0 auto;
}
.text-primary h1{
    margin-bottom: 1.3em;
    font-size: 2.5em;
}
.text-primary p{
    
    font-size: 1.4em;
    line-height: 1.4;
     margin-bottom: 6rem;
}